
/* SIDEBAR  */
.search-container {
    background: #f0f2f5;
    border-radius: 6px;
    width: 350px;
    display: flex;
    align-items: center;

}

.avatar-blue {
    width: 26px;
    height: 26px;
    background: #0d6efd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
}
 
.sidebar-icons {
    width: 40px;
    height: 100%;
    box-shadow: 1px 5px 7px 0px #dedede;
    padding-top: 8px;
}
.sideBar {
    padding-top: 32px;
} .sidebars li {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}

.sidebars li:hover {
    background-color: #a8d5f8;
}

.sidebars li:hover svg * {
    stroke: #fff;
}

.sidebars li svg {
    width: 21px;
    stroke-width: 1px;
}  